body {
    margin-top: 1em;
}

.box, #system-message, blockquote {
    background-color: #E4F3CE;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0.2em;
}

#system-message dt.message {
    display: none;
}

#system-message ul {
    margin: 0;
}

.header {
    background-color: black;
    margin-bottom: 1em;
    background-image: url(../images/header.png);
    color: white;
    -moz-border-radius: 5px;
    text-align: center;
}

.header h1 {
    font-size: xx-large;
    margin: 0;
    padding: 0.5em;
}

.header p {
    padding-bottom: 0.5em;
    margin: 0;
}

#footer {
    background-color: black;
    color: white;
}

.componentheading, .contentheading {
    font-size: 25px;
    margin-bottom: 20px;
}

a {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

#current {
    font-weight: bold;
}

/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1 {
    display: block;
    float: none !important;
    margin: 0 !important;
}

.cols-2 .row-1.odd {
    width: 46%;
    float: left;
}

.cols-2 .row-2.even {
    width: 46%;
    float: right;
    margin: 0
}

.cols-2 .row-2.odd {
    width: 46%;
    float: left;
}

.cols-2 .row-3.odd {
    width: 46%;
    float: right;
}

.cols-3  .row-1.odd {
    float: left;
    width: 29%;
    padding: 0px 5px;
    margin-right: 4%

}

.cols-3 .row-2.even {
    float: left;
    width: 29%;
    margin-left: 0;
    padding: 0px 5px
}

.cols-3 .row-2.odd {
    float: right;
    width: 29%;
    padding: 0px 5px
}

.items-row {
    overflow: hidden;
    margin-bottom: 10px !important;
}

.column-1,
.column-2,
.column-3 {
    padding: 10px 5px
}

.column-2 {
    width: 55%;
    margin-left: 40%;
}

.column-3 {
    width: 30%
}

.blog-more {
    padding: 10px 5px
}